#background{
	background-color: #000;
	background-image: url('../image/bg.jpg');
	background-position: center;
	background-size: cover;
	display: table;
	width: 100%;
	height: 100%;
}

#inputContainer{
	padding-top: 29px;
	padding-bottom: 0px;
}

.checkdiv{
	width: 500px;
	height: 400px;
	padding-top: 220px;
	padding-left: 80px;
	margin-left: 370px;
	
}

th, td{
	text-align:center;
}


.pad1{
	margin-left: 10px;
}

.resultAlign{
	width: 200px;
	height: 1200px;
	border: 2px solid black;
}

#schoolLogo{
	width: 200px;
	height: 20px;
}

#resultTable{
	padding: 20px;
	text-align: center;
	
}

.result{
	position: relative;
}

table.samp{
	empty-cells: hide;
}

@media print {

th, td{
	text-align:center;
}

.result{
	width: 720px;
	height: 1050px;
	border: 1px solid black;
	padding: 5px;
	background: url('../image/mount-ural.jpg');
	position: relative;
	
}

#schoolLogo{
	width: 120px;
	height: 120px;
	padding-top: 5px;
	margin-left: 8px;
	border-radius: 50px;
}

#gradesheet{
	background-color: gray;
	border:2px solid black; 
	border-radius: 5px;
	margin: auto;
	margin-bottom: 4px;
	padding-bottom: 4px;
	text-align: center;
	width: 300px;
	height: 40px;
}

#terminal{
	text-align: center; 
	border-radius: 5px;
	text-align: center;
	text-decoration: underline;
	margin-left: 20px;
	width: 100%;
}

#studentInfo{
	font-size: 18px;

}
#resultTable{
	text-align: center;
	padding: 25px;
}

#otherssection{
	width: 690px;
	font-size: .25em;
	float: right;
	color: red;
}

#remarks{
	border: 1px solid black; 
	border-radius: 2px;
	margin-top: 5px; 
	margin-bottom: 5px; 
	padding: 5px;
}



}